@import "../../scss/variables", "../../scss/mixins";

.mk__filters {
  margin-top: 20px !important;
  @include flex(space-between, center);
  padding-bottom: 15px;

  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0%;

    width: 100%;
    height: 0.5px;

    background-color: $black;
  }

  .mk__slectedFilters {
    position: relative;

    // hide on mobile phone
    @media (max-width: 630px) {
      display: none;
    }

    form {
      @include flex(space-between, center);

      label {
        @include font(23px, italic);
        color: $coffee;
      }

      input {
        padding: 6px 14px;
        border-radius: 116px;

        border: 0.5px solid $black;
        background-color: transparent;

        @include font(18px, bold);

        width: 150px;
        font-style: italic;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: black;
          letter-spacing: 0.5px;
        }
      }

      // cancel / celare btn
      img {
        position: absolute;
        right: 3%;

        width: 20px;
        height: 20px;
      }
    }
  }

  // custom drop Down styles
  .mk__dropDown {
    position: relative;

    z-index: 5;
    @include flex(flex-end, flex-end, column);

    // hide on mobile phone
    @media (max-width: 630px) {
      display: none;
    }

    .mk__DropHeader {
      @include flex(space-between, center);

      p {
        @include font(23px, italic);
        color: $coffee;
      }

      .mk__dropDownHeader {
        @include flex(space-between, center);

        cursor: pointer;
        padding: 9px 16px 9px 15px;

        width: 154px;
        transition: all 0.3s ease-in-out;

        p {
          margin-right: 8px;
          @include font(17px, bold);
        }

        img {
          width: 15px;
          height: 15px;

          transform-origin: center;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    // DropDown List
    .mk__drobDownList {
      width: 154px;
      padding: 16px;

      transform-origin: top;
      background-color: $white;

      position: absolute;
      top: 100%;

      transition: all 0.4s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        top: 0%;
        width: 80%;
        height: 0.25px;
        background-color: $black;
      }

      ul {
        list-style: none;

        li {
          @include font(20px);

          cursor: pointer;

          // don't give the last child a padding bottom
          &:not(:last-child) {
            padding-bottom: 16px;
          }

          @include scale-animation(0.95);
        }
      }
    }
  }
}
