/*
we store all our redudnat values in here, like colors, fonts and so on.
*/

// Defin fonts here
@font-face {
  font-family: calibribold;
  src: url("../Fonts/CalibriBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: calibriregular;
  src: url("../Fonts/CalibriRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CalibriItalic;
  src: url("../Fonts/CalibriItalic.ttf");
  font-weight: normal;
  font-style: italic;
}

$font-bold: calibribold;
$font-regular: calibriregular;
$font-italic: CalibriItalic;

// define colors here

$black: #000000;
$white: #ffffff;
$orange: #ffa500;
$coffee: #363636;
$red: #8e1216;
$green: #008435;

$gray0: #f4f4f4;
$gray1: #e0e0e0;
$gray3: #9c9d9d;

$shadow0: #00000008;
$shadow1: #00000029;
$shadow2: #00000033;
$shadow3: #0000001a;
